body {
    width: 100%;
    height: auto;
    margin: 0px 15px;
}

.navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px 20px;
}

#btnimg {

    width: 16px;
    height: auto;
}

.svgbtn {
    border-radius: 100%;
    border-style: none;
}

#account {

    width: 25px;
    height: auto;
}

.main {
    position: relative;
    width: 100%;
    height: auto;
    margin: 100px auto;
}

.search {
    float: center;
 
    width: 20rem;
    height:50px;
    min-width: 10%;
    max-width: 100%;
    max-height: 2em;
    margin: 60px auto;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 30px;
    top: 150px;
    left: 300px;
    justify-content: right;
    box-sizing: border-box;
    overflow: hidden;
    
}

#srbx {

    max-width:100%;
    height: 100%;
    border-style: none;
 
 
}


#logo {
   
    display: block;
    width: auto;
    height: 97px;
    margin: 0px auto;
    top: 100px;
}

#magnimg {
    float: left;
    display: inline-block;
    width: 20px;
}

#micro {
    float:right;
    margin-right: auto;
    display: inline-block;

}


.srbtns {
    text-align: center;
    height: 30px;
   
  
}
footer {
    
    bottom 0px;
    margin: 0px auto;
    text-align: center;
}

a {
text-decoration: none;    
}